.navbar {
    overflow: hidden;
    background-color: #f8cfc3;
    box-sizing: border-box;

}

.navbar a { 
    float: left;
    display: block;
    color: rgb(20, 20, 19);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

#Aventureros {
    background-color: #f8cfc3;
    color: black;
    font-size: 2.5rem;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    /* En resoluciones móviles */
    .navbar a { 
        float: none;
        width: 100%;
    }
}

.card-custom { 
    width: 18rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.container-custom { 
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
    align-items: center;
    justify-content: center;

}

/* Tarjetas con media querys */
@media screen and (min-width: 600px) and (max-width: 700px) {
    /* celulares */
    .card-custom { 
        width:100%;
        background: #97ccc0;
    }
}
